@{
  Layout = "_Layout";
}

<div class="container">
<div class="jumbotron">
<h1>Secret thank you page</h1>
</div>
<div class="row row-eq-height">
<div class="well col-xs-6">
  <form action='/' method='get'>
  <button type="submit" class="btn btn-info">Back home</button>
  </form>
</div>
<div class="well col-xs-6">
  <h4><strong>Panatda!</strong></h4>
  <br>
  <h4>Thank you for being our teacher for this 2 month.</h4>
  <h4>You have been very supportive and inspiring in all the code reviews, you have set the correct expectations and gave us good piece of advice on our stand ups.</h4>
  <br>
  <h4>And you are truly adorable! :)</h4>
</div>

</div>
</div>
